.login-form {
  background-color: white;
  padding: 4rem 4rem 4.5rem;
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 3rem auto;
}

.login-title {
  color: black;
  margin: 1rem 0;
}
